/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  font-family: 'Roboto Condensed', sans-serif;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

.navbar{
    background-color: #ff5621;
}

.navbar-brand,
h1,
h2,
h3,
h4 {
    color: #0c46a0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}


/* form bits */
.tinfoilhat_search input{
    border-width: 0px 0px 3px 0px;
    border-color: #FF5621;
    font-style: italic;
    font-size: 28px;    
    margin-bottom: 30px;

}
.tinfoilhat_search input.day,
.tinfoilhat_search input.month{
    width: 50px;
}
.tinfoilhat_search input.year{
    width: 100px;
}

.tinfoilhat_search button{
    width: 80px;
    height: 80px;    
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;  
    border-width: 0px;  
    background-color: #2095F2;
    color: #fff;
    font-size: 30px;
    float: right;
    transition: background-color 0.5s ease;
}
.tinfoilhat_search button:hover{
    background-color: #FF5621;
}


.tt-dropdown-menu{
    background-color: #fff;
}
