<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<title>tinFOIlhat</title>
	<meta http-equiv="content-type" 
		content="text/html;charset=utf-8" />
<style type="text/css">
body { background-color: #28364f; }
</style>

</head>

<body>
<tt style="display: block; text-align: center; color: #fff;">tinFOIlhat</tt>
<div style="margin-top: 50px; text-align: center;"> <img src="http://upload.wikimedia.org/wikipedia/commons/8/85/ManWearingTinFoilHat.jpg" alt="Man wearing tinfoil hat">
</div>

<tt style="display: block; text-align: center; color: #fff;">
<pre>
{'iden': u'FOI-14-0206', 'tags': [u'arts', u'leisure', 'aberdeen', 'aberdeen city'], 'doc': 'http://www.aberdeencity.gov.uk/nmsruntime/saveasdialog.asp?lID=56322&sID=24430', 'title': u'Scottish Country Dancing', 'date': datetime.datetime(2014, 1, 1, 0, 0), 'type': u'FOI'}
{'iden': u'FOI-14-0003', 'tags': [u'bereavement', 'aberdeen', 'aberdeen city'], 'doc': 'http://www.aberdeencity.gov.uk/nmsruntime/saveasdialog.asp?lID=55020&sID=24437', 'title': u'Public Health Funerals', 'date': datetime.datetime(2014, 1, 1, 0, 0), 'type': u'FOI'}
{'iden': u'FOI-14-0066', 'tags': [u'contracts', u'procurement', 'aberdeen', 'aberdeen city'], 'doc': 'http://www.aberdeencity.gov.uk/nmsruntime/saveasdialog.asp?lID=55424&sID=24438', 'title': u'Contracts for Electrical Services', 'date': datetime.datetime(2014, 1, 1, 0, 0), 'type': u'FOI'}
{'iden': u'FOI-14-0004', 'tags': [u'decisions, policies', u'plans', 'aberdeen', 'aberdeen city'], 'doc': 'http://www.aberdeencity.gov.uk/nmsruntime/saveasdialog.asp?lID=55022&sID=24439', 'title': u'Corporate Strategy', 'date': datetime.datetime(2014, 1, 1, 0, 0), 'type': u'FOI'}
{'iden': u'FOI-14-0013', 'tags': [u'education', 'aberdeen', 'aberdeen city'], 'doc': 'http://www.aberdeencity.gov.uk/nmsruntime/saveasdialog.asp?lID=55308&sID=24440', 'title': u'Education Scotland Correspondence', 'date': datetime.datetime(2014, 1, 1, 0, 0), 'type': u'FOI'}
{'iden': u'EIR-14-0017', 'tags': [u'environment', 'aberdeen', 'aberdeen city'], 'doc': 'http://www.aberdeencity.gov.uk/nmsruntime/saveasdialog.asp?lID=55016&sID=24441', 'title': u'Wind Turbines', 'date': datetime.datetime(2014, 1, 1, 0, 0), 'type': u'EIR'}
{'iden': u'FOI-14-0005', 'tags': [u'financial information', 'aberdeen', 'aberdeen city'], 'doc': 'http://www.aberdeencity.gov.uk/nmsruntime/saveasdialog.asp?lID=55026&sID=24442', 'title': u'Business Rates', 'date': datetime.datetime(2014, 1, 1, 0, 0), 'type': u'FOI'}
{'iden': u'FOI-14-0007', 'tags': [u'housing', 'aberdeen', 'aberdeen city'], 'doc': 'http://www.aberdeencity.gov.uk/nmsruntime/saveasdialog.asp?lID=55028&sID=24443', 'title': u'Discretionary Housing Payments', 'date': datetime.datetime(2014, 1, 1, 0, 0), 'type': u'FOI'}
{'iden': u'FOI-14-0001', 'tags': [u'it', u'communication', 'aberdeen', 'aberdeen city'], 'doc': 'http://www.aberdeencity.gov.uk/nmsruntime/saveasdialog.asp?lID=55018&sID=24444', 'title': u'Smart Technology', 'date': datetime.datetime(2014, 1, 1, 0, 0), 'type': u'FOI'}
{'iden': u'FOI-14-0009', 'tags': [u'land', u'property', 'aberdeen', 'aberdeen city'], 'doc': 'http://www.aberdeencity.gov.uk/nmsruntime/saveasdialog.asp?lID=55320&sID=24445', 'title': u'Metal Thefts', 'date': datetime.datetime(2014, 1, 1, 0, 0), 'type': u'FOI'}
{'iden': u'EIR-14-0014', 'tags': [u'legal', u'licensing', 'aberdeen', 'aberdeen city'], 'doc': 'http://www.aberdeencity.gov.uk/nmsruntime/saveasdialog.asp?lID=55048&sID=24446', 'title': u'Itinerant Metal Dealers', 'date': datetime.datetime(2014, 1, 1, 0, 0), 'type': u'EIR'}
{'iden': u'EIR-14-0038', 'tags': [u'parking', 'aberdeen', 'aberdeen city'], 'doc': 'http://www.aberdeencity.gov.uk/nmsruntime/saveasdialog.asp?lID=55050&sID=24447', 'title': u'Parking Fines Revenue', 'date': datetime.datetime(2014, 1, 1, 0, 0), 'type': u'EIR'}
{'iden': u'EIR-14-0012', 'tags': [u'roads', u'transport', 'aberdeen', 'aberdeen city'], 'doc': 'http://www.aberdeencity.gov.uk/nmsruntime/saveasdialog.asp?lID=55046&sID=24448', 'title': u'Waste Management Vehicles', 'date': datetime.datetime(2014, 1, 1, 0, 0), 'type': u'EIR'}
{'iden': u'FOI-14-0002', 'tags': [u'social care', 'aberdeen', 'aberdeen city'], 'doc': 'http://www.aberdeencity.gov.uk/nmsruntime/saveasdialog.asp?lID=55036&sID=24449', 'title': u'Childhood Obesity', 'date': datetime.datetime(2014, 1, 1, 0, 0), 'type': u'FOI'}
{'iden': u'FOI-14-0011', 'tags': [u'staffing', 'aberdeen', 'aberdeen city'], 'doc': 'http://www.aberdeencity.gov.uk/nmsruntime/saveasdialog.asp?lID=55312&sID=24450', 'title': u'Library Staff', 'date': datetime.datetime(2014, 1, 1, 0, 0), 'type': u'FOI'}
</pre>
</tt>
</body>
</html>
