<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<title>tinFOIl hat</title>
	<meta http-equiv="content-type" 
		content="text/html;charset=utf-8" />
<style type="text/css">
body { background-color: #28364f; }
</style>

</head>

<body>
<tt style="display: block; text-align: center; color: #fff;">tinFOIl hat</tt>
<div style="margin-top: 50px; text-align: center;"> <img src="http://upload.wikimedia.org/wikipedia/commons/8/85/ManWearingTinFoilHat.jpg" alt="Man wearing tinfoil hat">
</div>
</body>
</html>
